<div class="container">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.form)" >
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input name="firstName" ngModel #firstName="ngModel" class="form-control" 
      required minlength="3"
      (change)="log(firstName)"
      >
      <div *ngIf="firstName.touched && firstName.errors">
        <div class="alert alert-danger" *ngIf="firstName.errors.required">
            First Name is required.
        </div>
        <div class="alert alert-danger" *ngIf="firstName.errors.minlength">
            First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea name="comment" ngModel #comment="ngModel" cols="30" rows="10" class="form-control" 
      required maxlength="10"></textarea>
      <div *ngIf="comment.touched && comment.errors">
         <div class="alert alert-danger" 
         *ngIf="comment.errors.required">
         Comment is required.
         </div>
         <div class="alert alert-danger" 
         *ngIf="comment.errors.maxlength">
         Comment should be maximum {{comment.errors.maxlength.requiredLength}}.
         </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>
</div>
